<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>Maintenance Page</title>
</head>

<body>
  <h1>Maintenance Page</h1>
  <p>Sorry we'll be back ASAP</p>

  {{> footer}}
</body>

</html>